version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 99
  reviewers:
  - wojsmol
  - zwiastunsw
- package-ecosystem: bundler
  directory: "/"
    schedule:
      interval: daily
  open-pull-requests-limit: 99
  reviewers:
  - wojsmol
  - zwiastunsw
