<footer role="contentinfo" aria-labelledby="wai_footerheading">
   <hr>
   <h2 id="wai_footerheading" class="sr-only">Informacja o dokumencie</h2>
   <p>Ta strona jest nieautoryzowaną polską wersją dokumentu W3C: <a href="https://www.w3.org/WAI/WCAG21/quickref/" lang="en">How meet WCAG (Quick Reference)</a>.<br />Wersją normatywną WCAG 2.2 jest tylko <a href="https://www.w3.org/TR/WCAG22/">oryginalna wersja opublikowana przez W3C</a>.<br /> 
   Dokument może zawierać błędne lub nieścisłe tłumaczenia oryginału.
  
   </p>   
   <p><strong>Status:</strong>{%if site.status == "draft" %}<strong> Draft.</strong>{% endif %} Zaktualizowano {{ site.time | date:"%d %b %Y" }}. Wersja {{site.version}}.<br />
       Główny programista: <a href="https://www.w3.org/People/yatil/">Eric Eggert</a> (W3C). Kierownik projektu: <a href="https://www.w3.org/People/shadi/">Shadi Abou-Zahra</a> (W3C).<br>Poprzedni redaktorzy i programiści:: Gregg Vanderheiden, Loretta Guarino Reid, Ben Caldwell, <a href="https://www.w3.org/People/Shawn/">Shawn Lawton Henry</a>, Gez Lemon.<br>Przeprojektowanie w roku {{ site.time | date:"%Y" }} zostało wykonane przez Grupę Robocza ds. Edukacji i Kontaktów Zewnętrznych (<a href="https://www.w3.org/WAI/EO/">EOWG</a>) oraz Grupę Roboczą <span lang="en" title="ds. Wytycznych dostyczących dostępności stron internetowych">Web Content Accessibility Guidelines</span> (<a href="https://www.w3.org/WAI/GL/">WCAG WG</a>), przy wsparciu <a href="https://www.w3.org/WAI/DEV/">WAI-DEV project</a>, projektu programu IST Komisji Europejskiej.</p>

   <nav aria-label="Nawigacja w stopce" class="footer-nav">
      <ul>
         <li><a href="https://www.w3.org/WAI/sitemap.html" hreflang="en" lang="en">WAI Site Map</a></li>
         <li><a href="https://www.w3.org/WAI/sitehelp.html" hreflang="en" lang="en">Help with WAI Website</a></li>
         <li><a href="https://www.w3.org/WAI/search.php" hreflang="en" lang="en">Search</a></li>
         <li><a href="/WAI/contacts" hreflang="en" lang="en">Contacting WAI</a></li>
      </ul>
   </nav>
   <section class="feedback" aria-label="Informacje zwrotne">
      <p>Informacje zwrotne dotyczące polskiej adaptacji - opinie, uwagi, sugestie prosimy przesyłać na adres <a href="mailto:kontakt@lepszyweb.pl">kontakt@lepszyweb.pl</a>
	  <p>Informacje zwrotne dotyczące oryginalnej wersji dokumentu prosimy przesyłać na adresy: <a href="mailto:wai-eo-editors@w3.org?subject=QuickRef_Redesign">wai-eo-editors@w3.org</a></strong> (lista publiczna) lub <a href="mailto:wai@w3.org">wai@w3.org</a> (tylko dla personelu WAI).</p>
   </section>
   <!-- end footer-nav -->
   <section class="copyright" aria-label="Prawa własności">
      <p>Copyright &#xA9; {{ site.time | date:"%Y" }} W3C <sup>&#xAE;</sup> (<a href="https://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="https://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>, <a href="https://www.keio.ac.jp/">Keio</a>, <a href="https://ev.buaa.edu.cn/">Beihang</a>) <a href="https://www.w3.org/policies/">Polityka i informacje prawne W3C</a>.</p>
	  
	  <p>Copyright &#xA9; {{ site.time | date:"%Y" }} <a href="https://lepszyweb.pl/">LepszyWeb.pl</a>. Pracownia Dostępności Cyfrowej.<br />Tłumaczenie wytycznych i&nbsp;kryteriów sukcesu dodanych w WCAG 2.2, tłumaczenie Technik i defektów oraz tłumaczenie interfejsu strony: Stefan Wajda</p>
   </section>
   <!-- end copyright -->

</footer>