<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{%if site.status == "draft" %}[Draft] {% endif %}{% if page.title %}{{ page.title }} &bull; {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>

  <title>{%if site.status == "draft" %}[Draft] {% endif %}{% if page.title %}{{ page.title }} &bull; {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "css/styles.css" | relative_url }}">
  <link rel="canonical" href="https://www.w3.org/WAI/WCAG22/quickref/">
<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#7d4594">

<meta property="og:title" content="WCAG 2.2. Krótki przewodnik - Pracownia Dostępności Cyfrowej - LepszyWeb.pl" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://wcag.lepszyweb.pl/" />
<meta property="og:site_name" content="WCAG 2.2. Krótki przewodnik - Pracownia dostępności cyfrowej - LepszyWeb" />
<meta property="og:image" content="https://wcag.lepszyweb.pl/img/krotki-przewodnikwcag22.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:description" content="Konfigurowalny przewodnik po wymaganiach (kryteriach sukcesu) i technikach wytycznych dostępności treści internetowych (WCAG) 2.2" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149264732-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149264732-1');
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '487063571839875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=487063571839875&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->  
</head>

